    .topo {
        background-color: rgb(255, 255, 255);
        text-align: center;
        padding: 20px;
        margin: 0;
        color: rgb(8, 161, 8);
    }
    
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 02;
    }
    
    .menu {
        margin: 0 0 0 0;
        text-align: center;
        background-color: rgb(8, 145, 31);
        padding: 0;
        overflow: hidden;
    }
    
    .menu a,
    p {
        margin: 15px;
    }
    
    .corpo {
        color: rgb(0, 0, 0);
        text-align: justify;
        margin: 10%;
    }
    
    .corpo2 {
        color: rgb(0, 0, 0);
        text-align: justify;
        margin: 10%;
    }
    
    .imagem {
        margin: 0;
    }
    
    body {
        font-size: 20px;
    }